@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/*Stile del logo*/
ion-img{
    margin : 0 auto;
    height: 25vh;
    width: 20rem;
    background-color: transparent;
    border-radius: 20px;
} 
ion-header{
    box-shadow: none;
    border-radius: 20px;
}
ion-item{
    --background: transparent;
}
ion-button{
    --color: #ffffff;
    --box-shadow: none;
    --border-radius: 10px;
}
/*ombreggiatura tolta dal pulsante volante*/
ion-fab-button{
    --box-shadow: none;
}
/*stile della barra funzionale sotto*/
ion-tab-bar{
    border-radius: 20px;
}
/* Descrizione dell'avatar del utente*/
.avatar{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
/*Stile delle barre di inserimento, compresa quella di ricerca*/
.input{
    --box-shadow: none;
    --border-radius: 10px;
}
/*caricamento del font montserrat*/
.custom-font{
    font-family: 'Mulish', 'sans-serif';
}
h4{
    font-weight: 600;
}
.recipe{
    margin-top: -95px;
    border-radius: 20px;
    background-color: white;
}




