@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/*Stile del logo*/
ion-img{
    margin : 0 auto;
    height: 25vh;
    width: 20rem;
    background-color: transparent;
    border-radius: 20px;

}
.img{
    z-index: 1;
}
ion-header{
    box-shadow: none;
    border-radius: 20px;
}
ion-item{
    --background: transparent;
}
ion-button{
    --box-shadow: none;
    --border-radius: 10px;
}
/*ombreggiatura tolta dal pulsante volante*/
ion-fab-button{
    --box-shadow: none;
}
/* Descrizione dell'avatar del utente*/
.avatar{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
/*Stile delle barre di inserimento, compresa quella di ricerca*/
.input{
    --box-shadow: none;
    --border-radius: 10px;
}
/*caricamento del font mulish*/
.custom-font{
    font-family: 'Mulish', 'sans-serif';
}
.recipe{
    margin-top: -95px;
    border-radius: 20px;
    background: #ffffff;
}
.close{
    z-index: 0;
    color: #F56662;
}

@media (prefers-color-scheme: dark) {
    .recipe{
        background: rgb(18,18,18);
    }
}




