@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
ion-card{
    box-shadow: none;
    border-radius: 10px;
    width: 100%;
    margin: 5px auto;
    border: 1px solid rgba(0,0,0,0.1);
}
img{
    border-radius: 10px;
    width: 100%;
}
.custom-font{
    font-family: 'Josefin Sans', sans-serif;
}